@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background: #081526;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #48D9B0;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #CEDAF2;
    margin: 0 15px;
    padding: 3px;
    transition: 3%;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #48D9B0;
}

.nav-responsive{
    background-color: #081526;
    color:  #48D9B0;
    padding: 5px 10px;
    border-radius: 15px;
    border-color:  #48D9B0;;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO*/
.inicio{
    background: linear-gradient(to top, rgba(8,21,38,.8),rgba(8,21,38,1)),url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #CEDAF2;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #081526;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
    color: #818DA6;
}

.inicio .contenido-banner .redes a{
    color: #CEDAF2;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #CEDAF2;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
background-color: #173F73;

}